div{
  padding-bottom:20px;
  overflow-x: hidden;
}
h1,.btn{
  font-family: "vesper-libre"
}

body{
  padding-top: 22.5vh;
  }

.button-section{
  padding-top: 5vh;
  position: static;
  
}
.result{
  padding-top: 10vh;
}